<!DOCTYPE html>   
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <%= javascript_include_tag('boardScript.js') %>
  <%= stylesheet_link_tag('boardStylesheet.css') %>
</head>
<body>

  <div id='<%= params[:controller] %>-container' class='main_content' data-controller=<%= params[:controller] %> data-action=<%= params[:action] %> > </div>
  <div id="headerDiv">
    <h1 style="color:blue;" align="center">Battlegrounds</h1>
    <p align="center"> 
      <button class="btn-danger" id="generate_btn" >Generate</button>
    </p>
  </div>
  <div id="messages"></div>
<table id="mainTable">
  <td>
    <div id="myBoard" >
      <table>
        <tr>
          <td></td>
          <% ('A'..'Z').to_a.first(Board::MATRIX_SIZE).each do |col| %>
            <td>
              <%= col %>
            </td>
          <% end %>
        </tr>
        <% @board1.grid.each_with_index do |x, xi| %>
        <% lineNumber = 0 %>
        <tr>
          <td> <%= xi +1 %></td>
          <% x.each do |y| %>
            <td id="<%=('A'..'Z').to_a[lineNumber] %>-<%=xi+1%>"></td>
            <% lineNumber += 1 %>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </td>

  <td>
    <div id="opponentBoard" >
      <table>
        <tr>
          <td></td>
          <% ('A'..'Z').to_a.first(Board::MATRIX_SIZE).each do |col| %>
            <td>
              <%= col %>
            </td>
          <% end %>
        </tr>

        <% @board2.grid.each_with_index do |x, xi| %>
        <% lineNumber = 0 %>
          <tr>
            <td> <%= xi +1 %></td>
            <% x.each do |y| %>
              <td id="<%=('A'..'Z').to_a[lineNumber] %>-<%=xi+1%>"></td>
              <% lineNumber += 1 %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </td>
</table>
</body>
</html>
