<head>
	<!-- <script src="welcomeScript.js"></script>
	<link rel="stylesheet" type="text/css" href="welcomeStylesheet.css">
	 <%= stylesheet_link_tag('welcomeStylesheet.css') %>
	-->


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<%= javascript_include_tag('welcomeScript.js') %>
	<%= stylesheet_link_tag('welcomeStylesheet.css') %>
</head>
<body>

	<div id='<%= params[:controller] %>-container' class='main_content' data-controller=<%= params[:controller] %> data-action=<%= params[:action] %> ></div>

	<div class="container">
		<h2>Welcome to the "UP-Battlegrounds"</h2>

    

    <!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Game</button>
		<br></br>
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">What type of game would you like to play ?</h4>
					</div>
					<div class="modal-body">
						<button class="btn btn-primary" id="public_game_btn">Public game</button>
						<button class="btn btn-primary" id="private_game_btn">Private game</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>


		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#joinModal">Join Game</button>

		<div class="modal fade" id="joinModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Please insert your token key.</h4>
					</div>
					<div class="modal-body">
						Token key: <input type="text" id="myInput">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="join_private_game_btn">Join</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
		<br></br>
		

	</div>
</body>
