#myBoard, #opponentBoard{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#myBoard td, #opponentBoard td {
	border: 1px solid;    
}


#mainTable {
	position: absolute; 
	/*bottom: 0px; */
	left: 0; 
	right: 0;
}

table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

body {
	background-image: none;
}