.container {
	margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

body {
	background-image: url("Resized.jpg");
	background-repeat: no-repeat;
    background-position: top;

}